# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Project1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Artem\RiderProjects\Project1\.idea\.idea.Project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
